body {
    width: 1000px;
    height: 750px;
    background: linear-gradient(180deg, #16165a 50%, #000000);
}


/*==========  ID Rules  ==========*/
#pass {
    background-color: #15154d;
}

#container {
    width: 1000px;
    height: 750px;
    margin: 0px auto;
    background: linear-gradient(180deg, #16165a 50%, #000000);
}

#next {
    width: 100px;
    height: 30px;
    color: #000000;
    border-radius: 20px;
    font-weight: bolder;
    font-family: monospace;
    border: 3px solid #ffffff;
    background-color: #ffffff;
}


/*==========  Class Rules  ==========*/
.info {
    margin: 20px;
    margin-left: 25px;
}

.box {
    width: 325px;
    height: 170px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #000000;
}


/*==========  Element Rules  ==========*/
img {
    width: 400px;
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: 30px;
    color: #ffffff;
    font-family: monospace;
}

input {
    width: 400px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    padding-top: 20px;
    background-color: #16165a;
    border-bottom: 3px solid #ffffff;
}



